<div class="card h-100 text-center">
    <%= image_tag "sharemyhobby.png", alt:'tictactoe'%>
    <div class="card-body">
      <h4 class="card-title">ShareMyHobby</h4>
      <p class="card-text">Large Ruby on Rails team project after a 3 months bootcamp at The Hacking Project.</p>
      <p class="card-text"><%= link_to "See on Github", "https://github.com/Ggs91/ShareMyHobby", target:"_blank" %></p>
    </div>
    <div class="card-footer">
        <%= link_to "See Live", "https://share-my-hobby-production.herokuapp.com/", target:"_blank"  %>
    </div>
</div>