 <div id="showcase-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "sport.jpg", alt:"Sport Event", class:"carousel-img" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "conference.jpg", alt:"Conference Event", class:"carousel-img" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "cooking.jpeg", alt:"Cooking Event", class:"carousel-img" %>
      </div>
    </div>
  </div>
