<%= render partial: "shared/banner", locals: { title: "Contact" } %>

<div class="container">
  <%= render layout: "static_pages/presentation_panel" do %>
    <h2>HIRE ME !</h2>
    <p>I'm looking for a full time job with a team :)</p>
  <% end %>
</div>
