// Custom Style

html {
  position: relative;
  min-height: 100%;
  font-family: 'Noto Sans SC'; 
}

body{
  background-color: #fff;
  margin-bottom: 75px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
}
