.banner {
  height: 200px;
  position: relative;
  margin-bottom: 50px;

}

.banner .flex-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
} 

.banner .content {
  text-align: center;
}


.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner h3 {
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .banner h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .banner h3 {
    font-size: 2rem;
  }
}